[providers]
python = "311"

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "gunicorn -k uvicorn.workers.UvicornWorker genscholar.asgi:application --bind 0.0.0.0:$PORT"

